{
	"extends": "standard",
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"no-tabs": "off",
		"no-multiple-empty-lines": "off",
		"no-trailing-spaces": [
			"error",
			{
				"skipBlankLines": true
			}
		],
		"prefer-arrow-callback": "error",
		"no-multi-spaces": "off",
		"key-spacing": [
			"error",
			{
				"beforeColon": false,
				"afterColon": true,
				"mode": "strict",
				"align": "value"
			}
		],
		"comma-dangle": [
			"error",
			"always-multiline"
		],
		"padded-blocks": [
			"error",
			{
				"classes": "always",
				"blocks": "never",
				"switches": "never"
			}
		]
	}
}
